@charset "UTF-8";
/* CSS Document */
html {
	height: 100%;
}
body, p, h1, h2, h3, h4, h5, div, ul, li, ol {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 1.4em;
	background-image: url(images/grass.jpg);
	background-size: cover;
}
#container {
	width: 900px;
	margin: 20px auto 0 auto;
	padding: 40px;
	background-color: #d2eeaf;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	min-height: 20em;
	-webkit-box-shadow: 5px 5px 10px 0 #555;
	box-shadow: 5px 5px 10px 0 #2b440b;
}
h2, h3, h4, h5, p, ul, ol {
	margin-bottom: .5em;
}
h1 {
	color: #0C5616;
	line-height: 1.2em;
	margin-bottom: 1em;
}
h2 {
	color: #6595c5;
}
#messageImage img {
	border: #FFF 10px solid;
	-webkit-box-shadow: 5px 5px 10px 0 #555;
	box-shadow: 5px 5px 10px 0 #2b440b;
	width: 100%;
	height: auto;
	border-radius: 1.5em;
}
#messageImage {
	
	float: left;
	width:390px;
}
#messageSide {
	float: right;
	width: 420px;
	height: auto;
}
#messageText{
	height:100px;
	padding-top:40px;
}
#buttonArea button {
	margin: 40px 20px 0 0;
	
}
button {
	float:left;
	width: 120px;
	height: 120px;
	-webkit-box-shadow: 5px 5px 10px 0 #555;
	box-shadow: 5px 5px 10px 0 #2b440b;
	border-radius: 7px;
	border: 5px #FFF solid;
	padding:0;
	margin:0;
}
button#play-again {
	width: 180px;
    height: 40px;
    background-color: #F2F48B;
    color: #000;
    font-size: 1em;
	text-transform:uppercase;
}

button img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	
}
button:hover {
	-webkit-box-shadow: -5px -5px 10px 0 #555;
	box-shadow: -5px -5px 10px 0 #2b440b;
}
.clearAll {
	clear: both;
}

.fast, .rested, .run-success, .run-fail, .food, .feed-success, .feed-fail, .climb-fail, #play-again {
    display: none;
}

/*------------------------------*\
    MEDIA QUERIES
\*------------------------------*/

@media only screen and (max-width: 870px) {
#container {
	width: 70%;
	padding:20px;
	margin:0 auto;
}
button {
	float:none;
	margin-top:20px;
}
#messageImage img {
	
}
#messageImage {
	margin: 0 auto;
	float: none;
	text-align:center;
	width:90%;
	
}
#messageSide {
	float: none;
	width: 100%;
	margin-bottom:1em;
}
#messageText{
	height:auto;
	padding-top:20px;
}
#buttonArea {
	text-align:center;
}
#buttonArea button {
	margin: 10px 20px 40px 0;
	
}

h1 {
	text-align:center;
}
}
@media only screen and (max-width: 520px) {
#container {
	width: 85%;
}

#buttonArea button {
	margin: 10px;
	
}

button {
	width: 25%;
	height: 25%;
}

}